build/obj
*.d
*.o
*.elf
*.hex
*~
.*.s[a-z][a-z]

.project
.cproject
.metadata
.settings

backups
.storage
secrets.yaml
secrets.py
.HA_VERSION
__pycache__

known_devices.yaml
home-assistant.log*
home-assistant_v2.db*

debug.yaml
