[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=ghost
WorkingDirectory=/home/ghost/homeassistant
ExecStart=/home/ghost/homeassistant/bin/hass -c /home/ghost/homeassistant/conf
RestartForceExitStatus=100

[Install]
WantedBy=multi-user.target
